<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">WIRELESS MANAGEMENT SYSTEM</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Ruckus Wireless Software</h5>
                <p>Simply better WiFi indoor or outdoor even in most hostile environments
                    Dell EMC Ruckus Software provide wireless planning, secure, reliable-connectivity and analytics to
                    ensure superior customer experience. Deploy bandwidth-hungry enterprise applications, provide
                    wireless connectivity and enhance employee productivity with Dell EMC Networking Access Points.
                    Benefit from self-organizing and self-healing connectivity, reduced operational cost and complexity,
                    and greater data insight.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle">
                <img src="../../../assets/images/rf01.png" class="iconWidth" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/rf02.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Ruckus Wireless Controllers</h5>
                <p>Wireless management. Simple. Secure. Scalable.
                    Ruckus offers large industry selection of control and management platforms to address the feature,
                    capacity and architectural requirements of organizations of all types and sizes. The common element:
                    simplicity. Ruckus access points (APs) are interoperable with all architectures, so if your business
                    or technical needs change, your APs can change with you.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">24 Online Billing System</h5>
                <P>24online Hospitality Internet Access (HIA) series offers advance access controllers with fully
                    furnished guest management features and internet billing functions for hoteliers and single or chain
                    of hotspots. 24online HIA is pre-integrated with famous property management systems in the market
                    with industry standard features like pre-paid voucher management, zero configurations, guest
                    management etc. required in hospitality segment. 24online HIA is highly flexible and plug-n-play
                    solution that offers high speed Internet experience to guests and visitors at small and large
                    hospitality/hotspot locations. Hotels can easily promote their business as 24online is an industry
                    leading solution supporting Wired, WiMAX, Wi-Fi and VSAT technologies.</P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/rf03.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/rf4.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">D-LINK Unified Wireless Controllers</h5>
                <p>D-Link Unified Wireless is a scalable wireless local area network solution 
                    built for high density environments. Unified wireless makes use of 
                    centralized control policies that allow network administrators to 
                    manage the configuration of all access points. Unified Wireless 
                    offers self-organizing, self-optimizing, and self-healing 
                    network capabilities to increase the stability of 
                    the entire wireless network.</p>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>