<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">PERSONAL COMPUTERS</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">INSPIRED DESIGN</h5>
                <ul>
                    <li>9th Generation Intel® Core™ i7 processor</li>
                    <li>Windows 10 Pro 64</li>
                    <li>16 GB DDR4-2666 SDRAM (1 X 16 GB)</li>
                    <li>1 TB PCIe® NVMe™ SSD</li>
                    <li>Intel® UHD Graphics 630</li>
                    <li>8.73 kg</li>
                    <li>3 year (3-3-3) limited warranty and service offering includes 3 years of parts, labor and
                        on-site repair. Terms and conditions vary by country. Certain restrictions and exclusions apply.
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 text-center">
                <img src="../../../assets/images/lap1.png" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4 text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/lap2.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">NEW OPTIPLEX 7480 ALL-IN-ONE</h5>
                <ul>
                    <li>10th Generation Intel® Core™ i5-10500 (6-Core, 12MB Cache, 3.1GHz to 4.5GHz, 65W)</li>
                    <li>Windows 10 Pro (64-bit) English</li>
                    <li>(Dell recommends Windows 10 Pro for business)</li>
                    <li>Intel® Integrated Graphics</li>
                    <li>8GB, 1x8GB, DDR4 non-ECC Memory</li>
                    <li>2.5 inch 1TB 7200rpm SATA Hard Disk Drive</li>
                    <li>7480 AIO 23.8" FHD 1920x1080 IPS Non-Touch Anti-Glare,Camera, IntegratedGraphics, Bronze 160w
                        PSU</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">LENOVO</h5>
                <ul>
                    <li>Processor : 10th Generation Intel® Core™ i5-10210U Processor (4 Cores / 8 Threads, 1.60 GHz, 6
                        MB Cache, 15W, DDR4-2666)</li>
                    <li>Operating System : Windows 10 Home 64</li>
                    <li>Memory : 8 GB SO-DIMM DDR4 2666MHz</li>
                    <li>Hard Drive : 1 TB 5400 HDD + 256 GB PCIe SSD</li>
                    <li>Optical Drive : DVD±RW</li>
                    <li>Warranty : 3 Years Onsite</li>
                    <li>Graphics : Integrated Intel® UHD Graphics</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/len.png" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">APPLE</h5>
                <ul>
                    <li>27-inch (diagonal) 5120-by-2880 Retina 5K display</li>
                    <li>3.1GHz 6-core 10th-generation Intel Core i5</li>
                    <li>AMD Radeon Pro 5300 graphics</li>
                    <li>Ultrafast SSD storage</li>
                    <li>Two Thunderbolt 3 (USB-C) ports/li>
                    <li>Four USB-A ports</li>
                    <li>Gigabit Ethernet port</li>
                    <li>1080p FaceTime HD camera</li>
                    <li>802.11ac Wi-Fi and Bluetooth 5.0</li>
                    <li>IMac, Magic Keyboard, Magic Mouse 2, Power cord, lightning to USB Cable.</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/apple.png" class="iconWidth" data-aos="fade-down-right">
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>