<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">TEMPORARY & PERMANENT STAFFING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We provide one of the most advanced and professional staffing solutions across the globe for permanent and temporary staffing needs of our clients.</p>
                <p>We know the competition for the best talent is fierce. We monitor the trends, such as workforce mobility, skills in demand, and ensure we have the most current systems in place to allow us to source and match the right people for the right roles. We will be mapping of interests of both our clients as well as our candidates, our professional consultants will handle the multistage process of recruitment seamlessly.</p>
                <p>Contract or Temporary staffing provides you the pool of talents you need for a specified period. The employees continue to be on our payroll, and they work for you. We will take care of identifying the kind of talents as per your requirements, taking through the hiring formalities and documentation. When it comes to temporary staffing solutions, it reduces administrative burdens and training costs to your company. You onboard talent as direct employees only after you’ve fully vetted their capabilities and work styles, ensuring the right fit for your team without the risk of upfront investment.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2 bodyAlign">
                <img src="../../../assets/images/temppermstaff.png" class="w-100" data-aos="zoom-in">
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>