<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign">
            <div class="card headerTag my-4">
                <span class="m-2">END USER COMPUTING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <p>End-user computing (EUC) refers to computer systems and platforms that are meant to allow non-programmers to create 
                    working computer applications. It is a compilation of approaches meant to better involve and integrate end users and 
                    other non-programmers into the world of computing systems development.</p>
                <p>End user computing is no longer about managing just a laptops or desktops. Today, EUC is about supporting.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <p>The current revolution in end user computing is permanently changing today's workplace, promising greater flexibility, 
                    productivity enhancements, staff morale improvements, and cost savings.</p>
                <p>CHN aligns your end user computing environment with industry specific best practices. 
                    We provide a functional and technical approach to leveraging Digital Enterprise Management capabilities to deliver a 
                    consistently excellent end user experience.</p>
            </div>
        </div>

        <div class="bodyAlign">
            <div class="contentText my-4 text-center">
                <span class="m-2">END USER COMPUTING SOLUTIONS AND SERVICES</span>
            </div>
        </div>

        <div class="row text-center textColor">
            <div class="col-sm-12 col-md-4">
                <i class="fa fa-cogs mb-3 faFont"></i>
                <p>APPLICATION VIRTUALIZATION</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fa fa-laptop mb-3 faFont"></i>
                <p>DESKTOP VIRTUALIZATION</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fa fa-leaf mb-3 faFont"></i>
                <p>ENTERPRISE MOBILITY MANAGEMENT</p>
            </div>
        </div>
    </div>
</div>