<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">END USER COMPUTING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/end-user-compute.png" class="w-100" data-aos="fade-down-right">
                <div class="bodyAlign" data-aos="fade-up-right">
                    <div class="contentText my-4 text-center">
                        
                    </div>
                </div>
        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-cogs mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/virtual-tour.png" class="iconWidth mb-2">
                        <p class="fw-bold">APPLICATION VIRTUALIZATION</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-laptop mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/machine.png" class="iconWidth mb-2">
                        <p class="fw-bold">DESKTOP VIRTUALIZATION</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-leaf mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/worldwide.png" class="iconWidth mb-2">
                        <p class="fw-bold">ENTERPRISE MOBILITY MANAGEMENT</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-left">
                <p>End-user computing (EUC) is a system that allows non-programmers
                     to create functional computer applications and integrates them
                      into the development of computing systems. 
                    EUC is not limited to managing laptops or desktops, 
                    but also provides support. </p>
                <p> The ongoing revolution in end-user computing is transforming workplaces, 
                    promising increased 
                    flexibility, productivity, staff morale, and cost savings.</p>
                <p>CHN offers a practical approach to leverage 
                    Digital Enterprise Management capabilities for a consistently 
                    excellent end-user experience and ensures that your end-user 
                    computing aligns with industry best practices.</p>
            </div>
        </div>
        <!--<div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>-->

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>