<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">RECRUITMENT PROCESS OUTSOURCING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>RPO stands for recruitment process outsourcing. Recruitment process outsourcing services as an industry evolved from traditional methods of hiring and a need to ensure access to talent in a sustainable and well governed manner.</p>
                <p>An RPO provider delivers necessary staff, technology as well as a methodology based on the client’s recruitment needs. CHN provide talent acquisition services for professional and nonprofessional positions that solve compliance, scalability, cost, quality or other recruiting challenges.</p>
                <p>We provide outsourcing services through a single window solution that runs across geographies. We reduce the recruitment complexity, and average turn-around time for our clients resulting in increased organizational efficiency at optimized cost</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2 bodyAlign">
                <img src="../../../assets/images/rpo04.png" data-aos="zoom-in" style="width: 63%;">
            </div>
        </div>
       <!---- <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>