<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">NoQu</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Time and Attendance Management System (TAM)</h5>
                <p>Introducing NoQu TAM, an advanced time and attendance-tracking 
                    solution for various industries. TAM enhances attendance monitoring
                     by seamlessly integrating into a range of professional settings. 
                     Empower your organization with a solution that ensures smooth management,
                      remote oversight, and an easy transition from your existing set-up.
                      NoQu's TAM system streamlines and simplifies the tracking of employee 
                      attendance, 
                    ensuring accuracy and saving valuable time for both management and staff.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
                <img src="../../../assets/icons/icon1-1.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/icons/icon4-1.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Educational TAM (E-TAM)</h5>
                <p>E-TAM is a robust attendance-tracking solution designed specifically
                     for educational institutions. Building on the success of NoQu 
                     TAM in workforce management, E-TAM takes attendance tracking 
                     to the next level by seamlessly integrating with educational settings.
                      Empower your educational institution with a solution that
                      ensures seamless management, remote monitoring, 
                    and a hassle-free transition for existing NoQu TAM users.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Field Tracking System (FTS)</h5>
                <P>DMaximize your mobile team's potential with NoQu's Field Tracking System. 
                    Easily track activities, optimize routes, and enhance efficiency.
                     Keep your teams connected, accountable, and performing at their peak.
                      With real-time insights and customizable reporting, NoQu FTS empowers 
                      your mobile workforce seamlessly, 
                    ensuring you stay ahead in today's dynamic business landscape.</P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/icons/icon5-1.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/icons/icon2-1.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Visitor Access Management (VAM)</h5>
                <p>Establish a secure and friendly space with NoQu's VAM. Our solution 
                    simplifies the management of visitor access, enhancing security for
                     everyone from delivery personnel to interview candidates. Streamline 
                     the check-in process for all types of visitors, ensuring a welcoming
                      atmosphere with NoQu's VAM. Enjoy improved safety protocols and efficient 
                    tracking for various visitors with NoQu's user-friendly system.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Vault Management</h5>
                <P>NoQu's Vault Management system guarantees the utmost security for your 
                    valuable assets, constructing a stronghold of protection and accountability.
                     Rest assured as NoQu provides a cutting-edge solution, ensuring
                      your personal and electronic belongings are safeguarded with 
                      confidence in today's digital age. 
                    Trust in NoQu for the robust security your assets deserve.</P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/icons/icon3-1.png" class="w-100" data-aos="fade-down-right">
            </div>
        </div>
    </div>
</div>


