<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">GAMING APPLICATION DEVELOPMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>Game apps are one of the most favourite and widely used apps in the world. With technological advancements it was impossibly inevitable for gaming industry to escape the technological boom. But developing Gaming apps with advance tools and features is not that easy and fun as it is to play.</p>
                <p>We allow ourselves to cross the barrier between the imagination and reality and pump life into visually attractive and responsive gaming apps that makes gamers skip from reality. Here we enhance the virtual dimension of the gaming apps fanatically, by using advance technology and tools.</p>
                <p>Our developers are skillful, talented and knowers of latest gaming trends that contribute positive in developing gaming apps on the app stores. Gaming apps are much costlier in development due to the tech-integration, also it is hard to target certain audience and trigger sales.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/mobilegame.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/android.png" class="iconWidth mb-2">
                        <p class="fw-bold">ANDROID</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/apple.png" class="iconWidth mb-2">
                        <p class="fw-bold">IOS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/desktop.png" class="iconWidth mb-2">
                        <p class="fw-bold">DESKTOP</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>