<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">PRINTERS & SCANNERS</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Epson WorkForce Enterprise WF-C20590</h5>
                <p>Our massive investment in revolutionary technologies enables us to pay attention to minute detail.
                    PrecisionCoreTM, our next generation, high-density printhead, takes a great leap forward in
                    enterprise printing. Epson WorkForce Enterprise WF-C20590 has arrived, giving you exactly what you
                    need: superior quality, excellent connectivity and prints at lightning speed.
                    Epson TM-T88VI Thermal POS Receipt Printer :
                    The Epson TM-T88VI is a smart POS printing solution that makes billing swift, simple and hassle-free
                    with an array of innovative features.</p>
                <ul>
                    <li>Save on space with the printer's sleek and compact design</li>
                    <li>Reduce customer wait-times with print speeds of up to 350 mm/s</li>
                    <li>Connect to the web, a PC and a mobile device simultaneously/li>
                    <li>Print directly from mobile devices with the Beacon Support feature</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle">
                <img src="../../../assets/images/print01.png" class="iconWidth" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/print2.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">CANNON PIXMA G7070</h5>
                <p>Refillable Ink Tank Wireless All-In-One with Fax for High Volume Printing
                    Designed for high volume printing at low running cost, this high performance wireless printer
                    combines amazing compactness and a wide range of printing options for the complete home and small
                    office printing experience.</p>
                <ul>
                    <li>Print, Scan, Copy, Fax</li>
                    <li>ISO standard print speed (A4): 13.0ipm black / 6.8ipm colour</li>
                    <li>Hi-speed USB 2.0, WiFi, wired LAN, wireless/wired LAN Pictbridge, Mopria, AirPrint, Direct
                        Wireless</li>
                    <li>Recommended print volume: 150 to 1 500 pages</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">HP Scanjet Pro 4500 fn1 Network Scanner</h5>
                <p>Digitize your file collection and send the images to your computer, network, or mobile devices with
                    the Scanjet Pro 4500 fn1 Network Scanner from HP. Robust and able to handle up to 4,000 pages each
                    day, this unit can easily turn a paper-based workflow into an entirely digital operation. The 4500
                    fn1 also creates sharp, detailed images with an optical resolution of 1200 dpi on the flatbed or 600
                    dpi with the ADF.</p>

                <P>For simple, easy to handle digital sending, the 4500 fn1 features a 2.8" color touchscreen on the
                    front panel. Also, with built-in Ethernet and Wi-Fi connectivity, users will be able to quickly set
                    the scanner up on a home network or connect directly from a mobile device. For a more direct
                    connection, USB 3.0 offers excellent speed.</P>

                <P>HP EveryPage and ultrasonic sensor ensure mixed media is fed and scanned properly Scan directly to
                    mobile devices with HP JetAdvantage Capture app Send scans through secure networks and to mobile
                    devices via Wi-Fi Direct Scan directly into applications with Kofax VRS Pro, TWAIN, and ISIS Capture
                    text using HP Scan and I.R.I.S. Readiris Pro OCR software. </P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/scan01.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/scan02.png" class="iconWidth" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Canon CanoScan Lide 300 Scanner</h5>
                <p>Connecting the bundled USB cable to the port corresponding to USB3.0 and 
                    above on PC. Colour document scan speed: (Colour A4, 300dpi) is measured with 
                    ISO/IEC 29183 Target-A. Colour photo scan speed: 10.16 x 15.24cm (4x6in, 300dpi) 
                    is measured with ISO//JIS SCID No.2. 
                    Scan speed indicates the time measured between pressing the scan button of 
                    the scanner driver and the on-screen status display turns off. 
                    Scan speed may vary depending on 
                    system configuration, interface, software, scan mode settings
                     and document size etc.</p>
                     <p>Optical resolution is a measure 
                        of maximum hardware sampling resolution, based on 
                        ISO 14473 standard.</p>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>