<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">APPLICATION DEVELOPMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/appimg.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We boost your mission with expert technology consulting and end-to-end development needs. We build highly secure, scalable and robust applications for global businesses.</p>
                <p>We develop brand interactive, dynamic, and user-friendly applications from scratch or revamp your existing app with custom-tailored features, implementations, and integrations to deliver high-performance applications that promote enhanced interoperability, scalability, and flexibility with a more streamlined and automated approach.</p>
                <p>We integrate existing business systems with third-party APIs to harness powerful data and feature sharing capabilities within your web or mobile applications. We also develop Custom APIs to securely extend your application’s functionality, provide a high-performance & quick response, and meet all of your business requirements.</p>
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/login.png" class="iconWidth mb-2">
                        <p class="fw-bold">BEST USER INTERFACE</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/database-storage.png" class="iconWidth mb-2">
                        <p class="fw-bold">SECURE DATABASE</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/startup.png" class="iconWidth mb-2">
                        <p class="fw-bold">SECURE DEPLOYMENT</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>