<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">IT SUPPORT RESOURCES</span>
            </div>
        </div>
        <div class="row contentText">
            <!-- <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/support.jpg" data-aos="fade-down-left">
            </div> -->
            <div class="col-12 mb-2" data-aos="fade-right">
                <p>Our IT support is a wide-ranging field that encompasses most aspects of computer-based technology, and it covers a range of services in terms of IT-related issues, such as troubleshooting and resolving hardware, software, and application issues, installation of computers and peripherals, data backup and recovery, network management, maintenance of security systems, system upgrades or updates, internet connection setup, and configuration, etc.</p>
            </div>
            <div class="col-12 mb-2">
                <h5 class="text-center fw-bold">Our Most IT Support Services</h5>
            </div>
            <div class="col-12 mb-2">       
                <div class="row text-center textColor" data-aos="flip-up">
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/software-developer.png" class="iconWidth mb-2">
                        <p class="fw-bold">Managed IT Services</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/voip.png" class="iconWidth mb-2">
                        <p class="fw-bold">Voice Over Internet Protocol (VoIP)</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/help.png" class="iconWidth mb-2">
                        <p class="fw-bold">IT Help Desk Support</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/monitoring.png" class="iconWidth mb-2">
                        <p class="fw-bold">Monitoring Services</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/recovery.png" class="iconWidth mb-2">
                        <p class="fw-bold">Data Backup & Recovery</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/data-protection.png" class="iconWidth mb-2">
                        <p class="fw-bold">Cyber Security Services</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/worldwide-security.png" class="iconWidth mb-2">
                        <p class="fw-bold">Network Security</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <img src="../../../assets/icons/softdeveloper.png" class="iconWidth mb-2">
                        <p class="fw-bold">Software as a Service (SaaS)</p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>