<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">PAYROLL SOFTWARE SERVICE</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We provide payroll services to small businesses as well as medium and large organizations.</p>
                <p>Payroll outsourcing is a process in which businesses hire an external firm to manage all payroll functions to help them save time, money, and effort. Outsourced payroll solutions provide increased accuracy when compared to in house payroll management as it gets prepared, analyzed, and evaluated by qualified professionals.</p>
                <p>Our Payroll services include payroll processing, payroll query management, pay slip generation, maintenance of leave register, verification of declaration and proofs, issuance of form 16, and Publication of MIS reports. We are always maintaining the absolute confidentiality of client and employee Information.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/pay01.png" class="w-100" data-aos="fade-down-left">
            </div>
        </div>
      <!---- <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>