<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">SECURITY & SURVEIILANCE SYSTEMS</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We provide both basic CCTV systems and sophisticated 
                    integrated solutions, serving as your primary source
                     for complete security solutions. Our turnkey projects 
                     simplify installations and services, removing the 
                     inconvenience of managing multiple vendors.</p>
                <p>CHN specializes in access control, video surveillance,
                   integrated physical/logical security, and intrusion alarms.
                   Our expertise lies in 100% IP-based systems,
                   which not only reduce costs but also enhance network
                   flexibility.Known for the best customer service and technical support,
                    we deliver CCTV Surveillance Solutions for small businesses to 
                    large corporations.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/cctv-pic.png" class="w-100" data-aos="fade-down-left">
            </div>
            <br>
            <br>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/cctv.png" class="iconWidth mb-2">
                        <p class="fw-bold">VIDEO SURVEILLANCE SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/speaker.png" class="iconWidth mb-2">
                        <p class="fw-bold">INTRUSION DETECTION SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/secure-access.png" class="iconWidth mb-2">
                        <p class="fw-bold">ACCESS CONTROL SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/password.png" class="iconWidth mb-2">
                        <p class="fw-bold">INTEGRATED SECURITY SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/smoke-detector.png" class="iconWidth mb-2">
                        <p class="fw-bold">FIRE DETECTION SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/project-manager.png" class="iconWidth mb-2">
                        <p class="fw-bold">VISITOR MANAGEMENT SYSTEMS</p>
                    </div>
                </div>
            </div>
        </div>
       <!----<div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>