<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">SECURITY & SURVEIILANCE SYSTEMS</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We provide you a simple CCTV system or comprehensive integrated system, We are your resource for end-to-end security system solutions. We provide turnkey project installation and service through a single source, eliminating the added hassle of dealing with multiple vendors.</p>
                <p>We provide intelligent, affordable, customized solutions with world-class premium-quality security products backed with comprehensive warranty,excellent after-sales service, and customer support. We have a team of well-trained and experienced team of professionals who can carry out projects of any size or scope. We cater to all segments of industry and society and provide all-level CCTV Surveillance Solutions to small businesses to large corporate companies. We are known for best customer service and technical support in the industry.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/cctv-pic.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/cctv.png" class="iconWidth mb-2">
                        <p class="fw-bold">VIDEO SURVEILLANCE SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/speaker.png" class="iconWidth mb-2">
                        <p class="fw-bold">INTRUSION DETECTION SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/secure-access.png" class="iconWidth mb-2">
                        <p class="fw-bold">ACCESS CONTROL SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/password.png" class="iconWidth mb-2">
                        <p class="fw-bold">INTEGRATED SECURITY SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/smoke-detector.png" class="iconWidth mb-2">
                        <p class="fw-bold">FIRE DETECTION SYSTEMS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/project-manager.png" class="iconWidth mb-2">
                        <p class="fw-bold">VISITOR MANAGEMENT SYSTEMS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>