<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">SERVERS</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Dell PowerEdge R740 Server</h5>
                <p>Combined with power and speed, the Dell PowerEdge R740 is a versatile server, powering some of the most demanding applications. With 2 Intel Xeon processor sockets, each with up to 28 cores, and 24 DIMM slots with up to 3TB maximum storage, the R740 is perfect for enterprise level applications such as medical imaging, high power computing, and virtualization.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
                <img src="../../../assets/images/ser1.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/ser2.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Dell PowerEdge R730 Server</h5>
                <p>Perfect for medium to large enterprise level applications, this cost-effective rack server can handle applications ranging from e-commerce, data warehouses and virtualization. With 2 Xeon Intel Processors, 24 DIMM slots and 7 PCIe 3.0 expansion slots, and configurable with up to 128GB memory and 64TB storage - the Dell PowerEdge R730 server is ideal for high-performance computing.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">HP DL380 Gen10 Server</h5>
                <P>Does your data center need a secure, performance driven dense server that you can confidently deploy for virtualization, databases, or high-performance computing? The HP DL380 Gen10 server supports the Intel Xeon Processor Scalable Family with up to 28 cores, plus up to 2933 MT/s HPE DDR4 SmartMemory supporting up to 4.5 TB per processor. Deploy this dense platform for diverse workloads in space constrained environments and maintain it with ease by automating the most essential server lifecycle management tasks with HPE OneView and HPE iLO 5.</P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/ser3.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
              <h5 class="fw-bold text-center">HP DL380 Gen9 Server</h5>
              <P>Updated with the latest Intel E5-2600v4 processors, up to 3TB of ram, and 2400MHz DDR4 memory, the DL380 Gen9 rackmount server server is designed to adapt to the needs of any virtual environment. Call or chat with our HP server experts and get the lowest price on DL380 Gen9 servers.</P>
          </div>
          <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
              <img src="../../../assets/images/ser4.png" class="w-100" data-aos="fade-down-right">
          </div>
        </div>
    </div>
  </div>
  