<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">RIGHTFAX SERVER</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <p>RightFax server software improves the flow of your company’s vital information by automating
                    business-critical fax and document distribution. Whether your organization is small, medium or
                    large, the RightFax network fax server increases employee productivity and decreases paper-based
                    operational costs.</p>
                <P>Your business faces increasing pressure to improve employee and process productivity, and to reduce
                    operational costs. CHN Technologies RightFax meets these challenges by integrating and automating
                    fax and document distribution with your existing business applications. This lets you reduce costs,
                    increase employee productivity, and decrease risks associated with stand-alone fax machines and
                    unsecure email communications.</P>
                <P>RightFax, the market-leading network fax server solution, automates time- intensive manual
                    paper-driven processes by integrating them into your business applications and systems. Learn how
                    the benefits of RightFax save you time and money by redefining and modernizing fax and document
                    distribution within your company. Quickly impact your ROI by streamlining document workflow,
                    reducing costs and increasing productivity.</P>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle">
                <img src="../../../assets/images/rfx.png" class="w-100" data-aos="fade-down-left">
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>