<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">DATA CENTER MANAGEMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/dcm.webp" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>We specialize in comprehensive data center management, 
                    conducting detailed assessments and providing tailored solutions for
                    high-stakes environments. Through advanced automation and
                    integrated service tools, we vigilantly monitor and supervise data centers.</p>
                <p>Our expertise covers overseeing technical operations,
                     including computer and server administration, managing 
                     large datasets and applications, 
                    and ensuring stringent data protection measures.</p>
                    <p>Our focus on preventing data breaches involves managing extensive
                         data and hardware across distributed networks. This includes 
                         automated functions like upgrading hardware/software, data storage 
                         management,
                        backup protocols, contingency planning, and responsive technical support.</p>
            </div>
                </div>
            </div>
        </div>
        <!--<div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>
