<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">DATA CENTER MANAGEMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-12 mb-2" data-aos="fade-left">
                <p>We offers data center management services by assessing existing data center infrastructure and we render solutions that support mission-critical environments. Using the most comprehensive automation solution, we monitor and administer the data centers integrated with service management tools.</p>
                <p>Data Center Management refers to the role of individuals (data center managers) tasked within a data center to oversee technical and IT issues. This includes management of computer and server operations, large amounts of data, services and applications, and the protection and security of the data.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/data-center.jpg" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <p>Data center management plays a crucial role in protecting data and keeping it secure to avoid data security breaches. Data center management consists of large data sets and hardware systems that are part of an organization’s large distributed network serving employees and customers.</p>
                <p>The hosted computer environment within a data center must continuously be managed, but most of this management is now automated. Data centers can be managed remotely and may not even house actual employees (dark or lights-out data centers). Functions of data center management include upgrading hardware and software/operating systems, managing data distribution and storage, backup policies, contingency planning, and technical support.</p>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>