<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">WEB DESIGN & DEVELOPMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>The appearance of your website is the first impression that you make on a potential customer, your website design shouldn’t stop there. The best website design and development will make your site as beautiful as it is functional and easy to use.We are one of the best web development companies in India, we provide a host of web development services for our global clients.</p>
                <p>Our designers helps to transform your brand into a visual story. We turn your website into an effective way to engage and a high-performing marketing tool for your business with your audience. We collaborate with you to plan and execute the details of your website so that it connects with your audience, communicates your message and elevates your brand all at the same time</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/webdesign.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/web.png" class="iconWidth mb-2">
                        <p class="fw-bold">CREATIVE DESIGNS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/mobile.png" class="iconWidth mb-2">
                        <p class="fw-bold">RESPONSIVE DESIGNS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/startup.png" class="iconWidth mb-2">
                        <p class="fw-bold">SECURE DEPLOYMENT</p>
                    </div>
                </div>
            </div>
        </div>
       <!---- <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>