<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" (slide.bs.carousel)="slideChanged($event)">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/intro-carousel1.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">DATA CENTER MANAGEMENT</h3>
                <p data-aos="fade-up">We offers data center management services by assessing existing data center
                    infrastructure and we
                    render solutions
                    that support mission-critical environments.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/data-center-manage')"></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/intro-carousel2.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">NETWORKING & SERVER ADMINISTRATION</h3>
                <p data-aos="fade-up">We provide comprehensive support of wired and wireless networks, guaranteeing the
                    continuous
                    performance of
                    network infrastructure for both small and large companies.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/network-server-admin')"></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/intro-carousel3.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">CLOUD INFRASTRUCTURE</h3>
                <p data-aos="fade-up">Cloud infrastructure refers to the hardware and software components -- such as
                    servers, storage, a
                    network,
                    virtualization software, services and management tools - that support the computing requirements of
                    a cloud computing model.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/cloud-infra')"></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/intro-carousel4.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">SECURITY & SURVEILLANCE SYSTEMS</h3>
                <p data-aos="fade-up">CHN expertise includes access control, video surveillance, integrated
                    physical/logical security and
                    intrusion alarms. CHN has
                    strong experience with 100 percent IP-based systems that lower cost and improve network flexibility
                    and scalability.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/security-survillaince')"></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/intro-carousel5.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">MANPOWER RESOURCING</h3>
                <p data-aos="fade-up">We provide Consulting services through a single window solution that runs across
                    geographies. We
                    reduce the recruitment
                    complexity, and average turn-around time for our clients resulting in increased organizational
                    efficiency at optimized cost.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/hr-outsource')"></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/intro-carousel6.jpg" class="d-block carouselImage">
            <div class="carousel-caption">
                <h3 data-aos="fade-down">SOFTWARE DEVELOPMENT</h3>
                <p data-aos="fade-up">We deliver Software development as customized cost-competitive, scalable, and
                    solid solutions, our
                    main aim is to meet all
                    our customer needs and requirements as fast as possible.</p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded buttonColor"
                    data-aos="fade-up" (click)="routeNavigate('/pages/application-develop')"></button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="aboutus"></div>
<div class="container visionRow">
    <div class="mb-4 about" data-aos="zoom-in-down">
        <h4 class="text-center fw-bold">
            <i class="fa fa-users"></i> ABOUT US
        </h4>
        <p>CHN is an end to end solution provider for IT Infrastructure Management & Consulting Services, established in
            the year 2018 with
            the team consists of professionals with excellent technical and specialized qualifications in their
            respective sphere of responsibility,
            gained through working with reputed organizations.</p>
        <p>We have been experienced in providing business technology solutions for more than 3+ years to a wide variety
            of industries,
            helping organizations to achieve their goals, streamline operations, reduce costs, and enhance their bottom
            lines.</p>
        <p>Our IT infrastructure services align network architecture and end to end communication, to ensure your
            business has the best
            IT solutions built by certified technology experts. We provide small, midsize and enterprise size businesses
            with scalable
            support services both onsite and remotely.</p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up" data-aos-duration="1500">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4><b>Our Vision</b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../../assets/images/about-vision.jpg">
                </ng-template>
                <p class="textFont">Our vision is to provide faster, cheaper and better IT solutions to the customers,
                    be most customer centric
                    organization to build a place where customers believe and treat us as a trusted advisor for their IT
                    infrastructure
                    and software integration solutions.</p>
            </p-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up" data-aos-duration="1500">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4><b>Our Mission</b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../../assets/images/about-plan.jpg">
                </ng-template>
                <p class="textFont">Our aim is to bringing together the right people and organizations to build a
                    leading provider of business technology
                    solutions. We believe in our services; our aim is to satisfy our customer needs and demands. We
                    ensure 100% customer
                    satisfaction as a fee for our services.</p>
            </p-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up" data-aos-duration="1500">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4><b>Our values</b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../../assets/images/about-mission.jpg">
                </ng-template>
                <p class="textFont">Our values represent the base for the development of our business:<br>
                    ❖ Integrity <br>
                    ❖ Innovation <br>
                    ❖ Partnership <br>
                    ❖ Commitment and Trustworthiness</p>
            </p-card>
        </div>
    </div>

    <div class="my-4 serviceBack">
        <div class="p-4 row">
            <h4 class="text-center fw-bold" data-aos="flip-right">
                <i class="fa fa-handshake-o"></i> SERVICES
            </h4>
            <p class="text-center mb-4" data-aos="flip-right">We bring in rich and long experience, deep subject matter
                expertise, powerful
                assessment, capacity planning,
                diagnostics and automation tools and a sharp focus on results to deliver a superlative customer
                experience.
            </p>

            <!-- <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row">
                    <div class="col-1 faIcon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <div class="col-11">
                        <h5> Infra Support</h5>
                        <p class="about">We manage your outsourced IT infrastructure with care, modernizing platforms
                            and
                            technologies for enhanced agility and
                            scalability with top infrastructure management services.IT Infrastructure Services is
                            mission-critical for all enterprises.
                            We offer IT Infrastructure support services that ensure your enterprise.</p>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/images/app-development.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Software Development</h5>
                    <p class="about">Our custom software development solutions accelerate workflows, boost revenues, and
                        optimize business operations from
                        concept-to-code and development to deployment.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/images/schedule.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Payroll Software Services</h5>
                    <p class="about">Our dedicated software helps payroll professionals streamline other payroll tasks allowing HRs and 
                        managers to create space for important business projects.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/images/staff.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Manpower Resourcing</h5>
                    <p class="about">CHN technologies systems offers a complete range of
                        information technology manpower
                        resources to support companies in their business to increase productivity through speed,
                        enhanced strategy, quality.</p>
                </div>
            </div>
            <!-- <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row">
                    <div class="col-1 faIcon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="col-11">
                        <h5>Consulting Services</h5>
                        <p class="about">We provide specialist consulting services to support your business in the
                            short,
                            medium, or long term.
                            Combined with our vast sector and service expertise, the key to our consultancy style is a
                            partnership we’ll work to understand
                            the challenges that your business is facing, then bring onboard our local and global
                            experts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row">
                    <div class="col-1 faIcon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-11">
                        <h5>Professional Services</h5>
                        <p class="about">professional services involve a range of different occupations that provide
                            support
                            to businesses in the form of
                            advice or performing tertiary roles. The real business of professional services is the
                            expertise
                            of their people, so a lot of
                            emphasis is put on personal and professional development as you work, to make you a more
                            useful,
                            and marketable, member of the team.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row">
                    <div class="col-1 faIcon">
                        <i class="fa fa-connectdevelop"></i>
                    </div>
                    <div class="col-11">
                        <h5> Integration Services</h5>
                        <p class="about">Integration service is a specialized application with a defined interface and
                            structure that acts as a container
                            for a web services solution. Like an application, an integration service can reference
                            resources
                            in shared libraries.Adopting
                            new technologies and processes means overcoming often complicated software integration
                            challenges.</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>

<div id="alliances">
    <div class="container visionRow">
        <h4 class="text-center fw-bold">OUR ALLIANCES AND GLOBAL PARTNERS</h4>
        <div class="row mt-4 text-center">
            <div class="col-sm-6 col-md-3 col-lg-2 mb-2" *ngFor="let item of alliances" data-aos="fade-right"
            data-aos-easing="ease-in-sine">
                <img [src]="item.url" class="allainceImg cursor-pointer" [pTooltip]="item.name" tooltipPosition="bottom">
            </div>
        </div>
    </div>
</div>

<div class="container visionRow mb-4" data-aos="zoom-in" id="facts">
    <h4 class="text-center fw-bold">FACTS</h4>
    <div class="row mt-3 text-center" *ngIf="showCounter">
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=50 [duration]=1000></span>+</h2>
            <p>Products</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=15 [duration]=1000></span>+</h2>
            <p>Industries</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=20 [duration]=1000></span>+</h2>
            <p>States</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=100 [duration]=1000></span>+</h2>
            <p>Happy Clients</p>
        </div>
    </div>
</div>

<div class="serviceBack">
    <div class="container p-4">
        <h4 class="text-center fw-bold">OUR CLIENTS</h4>
        <p-carousel [value]="clients" styleClass="custom-carousel mt-4" [numVisible]="6" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content text-center">
                        <img [src]="product.url" class="allainceImg cursor-pointer">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div id="contactus" class="card">
    <div class="container" data-aos="flip-left" data-aos-easing="ease-out-cubic">
        <div class="row mt-4">
            <h4 class="text-center fw-bold">CONTACT US</h4>
            <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <!-- <i class="contactIcon fa fa-map-marker"></i> -->
                    <img src="../../../assets/images/map.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">ADDRESS</h6>
                <p>No. 28, Fourth Main Road, CIT Nagar, Chennai. 600 035.</p>
            </div>
            <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <!-- <i class="contactIcon fa fa-phone"></i> -->
                    <img src="../../../assets/images/phone.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">CONTACT NUMBER</h6>
                <p>+91 7010203031<br>
                    +91 044 42854198</p>
            </div>
            <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <!-- <i class="contactIcon fa fa-envelope"></i> -->
                    <img src="../../../assets/images/gmail.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">EMAIL</h6>
                <p>info@chnindia.com<br>
                sales@chnindia.com</p>
            </div>
        </div>

        <p-card>
            <form [formGroup]="contactForm">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label class="mandatory">Name</label>
                        <input type="text" pInputText formControlName="name" placeholder="Enter Your Name"
                        class="form-control">
                        <p-message severity="error" text="Name is required"
                            *ngIf="contactForm.controls.name.errors?.required && (submitted || contactForm.controls.name.dirty || contactForm.controls.name.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label class="mandatory">Email</label>
                        <input type="text" pInputText formControlName="email" placeholder="Enter Your Email"
                        class="form-control">
                        <p-message severity="error" text="Email is required"
                            *ngIf="contactForm.controls.email.errors?.required && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
                        <p-message severity="error" text="Enter Valid Email"
                            *ngIf="contactForm.controls.email.errors?.pattern && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="mandatory">Subject</label>
                        <input type="text" pInputText formControlName="subject" placeholder="Enter Your Subject"
                        class="form-control">
                        <p-message severity="error" text="Subject is required"
                            *ngIf="contactForm.controls.subject.errors?.required && (submitted || contactForm.controls.subject.dirty || contactForm.controls.subject.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="mandatory">Message</label>
                        <textarea rows="5" pInputTextarea class="form-control" formControlName="message"
                        placeholder="Enter Your Message"></textarea>
                        <p-message severity="error" text="Message is required"
                            *ngIf="contactForm.controls.message.errors?.required && (submitted || contactForm.controls.message.dirty || contactForm.controls.message.touched)"></p-message>
                    </div>
                    <div class="col-12 mt-2 text-center">
                        <p-button label="Submit" styleClass="p-button-sm p-button-success"
                        (click)="submitContactForm()"></p-button>
                    </div>
                </div>
            </form>
        </p-card>
        <br><br>
    </div>
</div>