<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">NETWORKING & SERVER ADMINISTRATION</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/network.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-left">
                <p>Maintaining your network infrastructure and addressing operational IT needs requires experienced network engineers who are familiar with your environment and your business. Systems Engineering Network Administration service provides both a primary and a secondary network administrator for a fraction of the cost of a full-time employee. Backed by our experienced team of engineers, you will never find yourself without knowledgeable support.</p>
                <p>We offers,</p>
                <ul>
                    <li>Scalable systems administration services to meet your technical and financial requirements</li>
                    <li>Regularly scheduled technical engagements to improve network efficiencies</li>
                    <li>Structured, proactive approach to network management</li>
                </ul>
            </div>
            <div class="col-12 mb-2">
                <p>We provide comprehensive support of wired and wireless networks, guaranteeing the continuous performance of network infrastructure for both small and large companies.</p>
                <ul>
                    <li>24 hour monitoring of your servers and network (attending to your connectivity, event log monitoring, disk space or memory)</li>
                    <li>Routine maintenance of desktops and servers including security patch management and update, temporary file deletion, and disk defragmentation</li>
                    <li>Daily backup monitoring and/or cloud management</li>
                    <li>We take care of the cost and effort associated with keeping IT staff completely trained on all the newest technologies.</li>
                </ul>
            </div>
            <h5 class="fw-bold"><img src="../../../assets/images/features.png" style="width: 3%"> Service includes:</h5>
            <div class="col-sm-12 col-md-6 mb-2">
                <ul>
                    <li data-aos="fade-up" data-aos-duration="1000">Basic configuration of new servers</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Ensuring stable and uninterrupted operation of servers according to a SLA</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Agreed modification of the OS configuration</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Prevention and prompt solving of problems arising in the OS operation</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Competent decommissioning of equipment after the expiration of the lifetime</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Supporting network wired environment (LAN, including data center solutions)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Supporting sites' connectivity environment (WAN)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Supporting network wireless environment (WLAN)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Supporting voice (including voice over IP) solutions (VOIP)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Supporting network infrastructure services systems (DNS, DHCP, NTP, etc)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Supporting traffic management systems (NLB, shapers, etc)</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-2 serverPic" data-aos="fade-up-left">
                <img src="../../../assets/images/serveradmin-1.jpg" class="w-100" style="height: 80%;">
            </div>
        </div>
    </div>
</div>