<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">NETWORKING & SERVER ADMINISTRATION</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/network.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-left">
                <p>Maintaining your network infrastructure and addressing operational 
                    IT needs demands experienced network engineers familiar with
                     your environment. Our Systems Engineering Network 
                     Administration service provides both primary and secondary
                      network administrators at a fraction of the cost of a 
                      full-time employee. With our experienced team, you'll always have knowledgeable support.</p>
                <p>We offers,</p>
                <ul>
                    <li>Scalable systems administration services to meet technical and financial requirements.</li>
                    <li>Regularly scheduled technical engagements for improved network efficiencies.</li>
                    <li>Structured, proactive network management approach.</li>
                </ul>
            </div>
            <div class="col-12 mb-2">
                <!--<p>Comprehensive support for wired and wireless networks
                     ensures continuous performance for small and large companies.</p>-->
                     <h5 class="fw-bold">Our services include</h5>
                <ul>
                    <li>24-hour monitoring of servers and network</li>
                    <li>Routine maintenance of desktops and servers, including security patch management</li>
                    <li>Daily backup monitoring and/or cloud management</li>
                    <li>We handle the cost and effort of keeping IT staff trained on the latest technologies.</li>
                </ul>
            </div>
            <h5 class="fw-bold"><img src="../../../assets/images/features.png" style="width: 3%">Service offerings:</h5>
            <div class="col-sm-12 col-md-6 mb-2">
                <ul>
                    <li data-aos="fade-up" data-aos-duration="1000">Basic configuration of new servers</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Stable and uninterrupted server operation</li>
                    <li data-aos="fade-up" data-aos-duration="1000">OS configuration modifications as agreed upon</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Prevention and prompt resolution of OS operation problems</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Competent decommissioning of equipment</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Support for wired and wireless environments, including data centers</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Connectivity support for sites (WAN)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Support for voice solutions (VOIP)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Support for network infrastructure services systems (DNS, DHCP, NTP, etc.)</li>
                    <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Support for traffic management systems (NLB, shapers, etc.)</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-2 serverPic" data-aos="fade-up-left">
                <img src="../../../assets/images/serveradmin-1.jpg" class="w-100" style="height: 80%;">
            </div>
        </div>
        <!--<div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>