<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">DOCUMENT MANAGEMENT SYSTEM</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/DMS.jpg" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>In document management, Document Scanning and Digitization refers to the process of scanning paper
                    documents and converting them to electronic documents, capturing important information and saving
                    the document in a central repository for easy retrieval later.</p>
                <p>Digitization provides tools to simplify the scanning process for large amounts of documents and index
                    them during the process. You can split, merge, rescan and drag and drop pages or set auto document
                    separators using barcode sheets or blank sheets for easy document separation, filing and
                    recognition.</p>
                <p>Scanned files can be saved in Tiff or PDF formats for permanent storage. OCR add-on allows
                    identifying text content in scanned files for search and retrieval using Digitization search
                    interface. Rubber band OCR helps you fill values in index fields easily during manual indexing
                    process.</p>
            </div>
            <div class="col-12 mb-2">
                <ul>
                    <li>Create thoroughly indexed and searchable PDFs.</li>
                    <li>Make multiple and batch scanning a breeze.</li>
                    <li>Scan directly from any TWAIN scanner or from a folder.</li>
                    <li>Auto filing and naming using index field values makes saving, managing and organizing documents
                        easy.</li>
                    <li>Auto naming and file separators makes saving, managing and organizing documents easy.</li>
                    <li>We can convert Crores of paper documents into electronic documents Easily.</li>
                </ul>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>