.bgcheck{
    /* background-image: linear-gradient(to bottom right, rgb(220 242 255), rgb(249, 249, 245)); */
    /* background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),url('../../../assets/images/noquLogo.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* opacity: 0.2 */
  }
  
  .headerAlign{
    display: flex;
    justify-content: right;
  }
  
  .bodyAlign{
    display: flex;
    justify-content: right;
  }
  
  .contentText{
    color: black;
    /* font-weight: bold; */
    text-align: justify;
    font-size: 1.2rem;
    /* font-family: 'Times New Roman', Times, serif; */
  }
  
  .headerTag{
    background-color: rgb(2 72 112);
    color: white;
  }
  
  .textColor{
    color: black;
  }
  
  .faFont{
    font-size: 4rem;
  }
  
  .iconWidth{
    width: 75%;
  }

  .middle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  