<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">RETAIL MANAGEMENT SYSTEM</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <p>A retail management system (RMS) is a platform that combines several useful tools to aid in running a
                    retail store or chain, such as inventory management, point of sale (POS), and customer relationship
                    management (CRM) Our Retail management systems can help store owners by providing multiple services
                    in one place, streamlining the process of running a store.</p>
                <P>Everyday tasks such as managing and buying inventory, checking out customers, scheduling employee
                    shifts, and keeping track of finances are easily completed using one solution. Some platforms are
                    even compatible with mobile devices, so these tasks can be done anywhere in the store.</P>
                <P>By only buying one platform for your business, rather than several, you can ensure that all the
                    systems will share information and work well together. Some platforms will even have marketing and
                    analytics tools to help you improve your business. Our RMS is a fully integrated way to purchase
                    stock from the same place you manage and sell your inventory. With automated order processes and
                    simplified product discovery workflows, you can run your business more efficiently than ever.</P>
                <ul>
                    <li>Import high-quality product images and detailed supplier information from integrated catalogs.
                    </li>
                    <li>Search multiple suppliers and catalogs simultaneously for the products you need.</li>
                    <li> Purchase, organize, manage and sell your inventory from a single platform, no external sites or
                        third-party tools required.</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 middle">
                <img src="../../../assets/images/rms01.png" class="w-100" data-aos="fade-down-left">
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn"
                (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>