<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">STRUCTURED CABLING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Backbone Cabling</h5>
                <p>Backbone cabling consists of cables that connect the telecommunication closets, the termination of cable elements and the reconnection of those elements by jumpers, termination blocks, and/or cables to another cabling element (cable or patch panel). Backbone Cabling runs between wiring closets and the equipment room. Physical backbone cabling is UTP, STP, or Fiber Optics depending on application and distance.<br>
                    We specialize in following backbone cabling services</p>
                <ul>
                    <li>Cabling between equipment rooms and building entrances</li>
                    <li>Cabling between the buildings</li>
                    <li>Vertical connections between the floors</li>
                    <li>Building grounding and Bonding Requirements</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
                <img src="../../../assets/images/bc.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/fo.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Fiber Optic Services</h5>
                <p>Fiber Optic as your backbone will increase bandwidth availability to meet the demand for voice and data infrastructures. It is a fast and secure way to connect floors, offices, and even buildings together. Our range of technical services include fiber optic network design, field installation services indoor and outdoor. Our skilled staff has years of combined experience in technical design, installation.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Fusion Splicing</h5>
                <ul>
                    <li>Expert Fusion and Mass Fusion Splicing</li>
                    <li>OPGW, ADSS and Duct Cable</li>
                    <li>Single Mode, Multi-Mode& Ribbon fiber spicing</li>
                    <li>Standard/Dispersion Shifted/Specialty Fiber</li>
                    <li>Active System "Hot Cut" Splicing</li>
                    <li>Aerial Splicing "In Bucket" to 100 feet</li>
                    <li>Transition and Termination Splicing</li>
                    <li>Hot Transmission and Distribution Environment</li>
                    <li>Manhole or Direct Buried Splice</li>
                    <li>Hot URD Distribution Manholes</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/fs.png" class="w-100" data-aos="fade-down-right">
            </div>
        </div>
    </div>
</div>