<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">STRUCTURED CABLING</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Backbone Cabling</h5>
                <p>Backbone cabling links telecommunication closets, terminates cable elements, 
                    and reconnects them via jumpers, termination blocks, or cables 
                    to other cabling elements. It runs between wiring closets and 
                    the equipment room, using UTP, STP, or Fiber Optics based on 
                    the application and distance.</p>
                    <h5 class="fw-bold">Our specialized backbone cabling services include:</h5>
                <ul>
                    <li>Cabling between equipment rooms and building entrances</li>
                    <li>Cabling between the buildings</li>
                    <li>Vertical connections between the floors</li>
                    <li>Building grounding and Bonding Requirements</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
                <img src="../../../assets/images/bc.png" class="w-100" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/fo.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-left">
                <h5 class="fw-bold text-center">Fiber Optic Services</h5>
                <p>Fiber Optic as your backbone enhances bandwidth for voice and data infrastructures, offering a fast and secure way to connect floors, offices, and buildings. Our services encompass fiber optic network design and field installation, both indoor and outdoor. Our skilled staff has extensive experience in technical design and installation.</p>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="fade-right">
                <h5 class="fw-bold text-center">Fusion Splicing</h5>
                <ul>
                    <li>Expert Fusion and Mass Fusion Splicing</li>
                    <li>OPGW, ADSS and Duct Cable</li>
                    <li>Single Mode, Multi-Mode& Ribbon fiber spicing</li>
                    <li>Standard/Dispersion Shifted/Specialty Fiber</li>
                    <li>Active System "Hot Cut" Splicing</li>
                    <li>Aerial Splicing "In Bucket" to 100 feet</li>
                    <li>Transition and Termination Splicing</li>
                    <li>Hot Transmission and Distribution Environment</li>
                    <li>Manhole or Direct Buried Splice</li>
                    <li>Hot URD Distribution Manholes</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <img src="../../../assets/images/fs.png" class="w-100" data-aos="fade-down-right">
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>