<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">MOBILE APPLICATION DEVELOPMENT</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/mobdev.png" data-aos="fade-down-left">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-right">
                <p>Mobile app development indeed nowadays necessary for all the business and it’s one of the prominent factors, why the businesses are ﬂourishing. We, as a mobile application development company can provide high quality standard mobile app of any category. We have worked with diverse brands, organizations, start-ups and individuals to create powerful apps from excellent idea.</p>
                <p>Our mobile application development services are designed to deliver cutting-edge, customized mobility solutions for your unique business requirements. Our highly experienced developers have built a range of secured and scalable apps for clients in diverse industry verticals.</p>
                <p>Our focus, as a mobile app development company is to provide strategic planning & industry’s best product to compete in the market. The applications have been designed and developed in such a way that they are accessible on the mobiles like the PCs so that the end user experience is maintained</p>
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/android.png" class="iconWidth mb-2">
                        <p class="fw-bold">ANDROID</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/apple.png" class="iconWidth mb-2">
                        <p class="fw-bold">IOS</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../../../assets/icons/database-storage.png" class="iconWidth mb-2">
                        <p class="fw-bold">SECURE DATABASE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>