<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">CLOUD INFRASTRUCTURE</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/cloud.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-left">
                <p>An abstraction layer virtualizes and logically presents resources and 
                    services through interfaces like APIs. Cloud infrastructure comprises 
                    hardware and software components like servers, storage, networks, 
                    virtualization software, services, and management
                    tools to meet the computing demands of a cloud computing model.
                    In cloud computing, all the essential components required to 
                    deliver cloud services are encompassed. </p>
            </div>
            <div class="col-12 mb-2" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <p>These include networking 
                    equipment, servers, data storage, and a hardware abstraction 
                    layer that facilitates resource virtualization. 
                    The virtualized resources, such as virtual machines, servers, 
                    memory, switches, firewalls, load balancers, and storage, 
                    are hosted by a service provider and delivered over a network
                    or the internet.</p>
                <p>Cloud computing provides organizations with the flexibility 
                    to access necessary data storage and computing capabilities as needed, 
                    minimizing initial expenses. Rather than constructing on-site IT 
                    infrastructure, companies have the option to lease cloud infrastructure 
                    from providers such as Amazon Web Services (AWS),
                     Google Cloud Platform, or Microsoft Azure. Cloud infrastructure
                      generally comprises three interdependent components that work 
                      together to deliver a comprehensive cloud service.</p>
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-cloud mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/server.png" class="iconWidth mb-2">
                        <p class="fw-bold">COMPUTING</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-globe mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/computer.png" class="iconWidth mb-2">
                        <p class="fw-bold">NETWORKING</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-cube mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/cloud-server.png" class="iconWidth mb-2">
                        <p class="fw-bold">STORAGE</p>
                    </div>
                </div>
            </div>
        </div>
       <!---- <div class="text-center pb-4">
            <button pButton type="button" label="Contact Us" class="p-button-success p-button-sm contact-btn" (click)="showContactForm()"></button>
        </div>-->
    </div>
</div>

<p-dialog [header]="service" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>