<div class="bgcheck">
    <div class="container">
        <div class="bodyAlign" data-aos="zoom-in">
            <div class="card headerTag my-4">
                <span class="m-2">CLOUD INFRASTRUCTURE</span>
            </div>
        </div>
        <div class="row contentText">
            <div class="col-sm-12 col-md-6 mb-2">
                <img src="../../../assets/images/cloud.png" class="w-100" data-aos="fade-down-right">
            </div>
            <div class="col-sm-12 col-md-6 mb-2" data-aos="fade-left">
                <p>Cloud infrastructure refers to the hardware and software components such as servers, storage, a network, virtualization software, services and management tools that support the computing requirements of a cloud computing model.</p>
                <p>Cloud infrastructure also includes an abstraction layer that virtualizes and logically presents resources and services to users through application program interfaces and API-enabled command-line or graphical interfaces.</p>
            </div>
            <div class="col-12 mb-2" data-aos="flip-left" data-aos-easing="ease-out-cubic">
                <p>Cloud infrastructure consists of all hardware and software components that are needed to support the delivery of cloud services to the customer. The main physical components of cloud infrastructure are networking equipment, servers and data storage. Cloud infrastructure also includes a hardware abstraction layer that enables the virtualization of resources and helps to drive down costs through economies of scale.</p>
                <p>In cloud computing, these virtualized resources are hosted by a service provider or IT department and are delivered to users over a network or the internet. These resources include virtual machines and components, such as servers, memory, network switches, firewalls, load balancers and storage.</p>
                <p>Cloud computing has created the opportunity for organizations to access the data storage and computing capabilities that they require, on an as-needed basis and with a significantly reduced up-front cost. Instead of establishing their own on-premise IT infrastructure, a company can pay to rent cloud infrastructure and the related capabilities and components from a third-party cloud service provider such as Amazon Web Services (AWS), Google Cloud Platform or Microsoft Azure.</p>
                <p>Cloud infrastructure generally is categorized into three parts that all collaborate to create a cloud service</p>
            </div>
            <div class="col-12 mb-2">        
                <div class="row text-center textColor" data-aos="fade-up-right">
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-cloud mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/server.png" class="iconWidth mb-2">
                        <p class="fw-bold">COMPUTING</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-globe mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/computer.png" class="iconWidth mb-2">
                        <p class="fw-bold">NETWORKING</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="fa fa-cube mb-3 faFont"></i> -->
                        <img src="../../../assets/icons/cloud-server.png" class="iconWidth mb-2">
                        <p class="fw-bold">STORAGE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>